.fishList {
    background-color:#14B394;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    font-family: 'Source Code Pro', monospace;
}

.fish {
    background-color: lightcoral;
    flex-wrap: wrap; 
    flex:1;
    align-items: center;
    height: auto;
    padding-bottom: 15px;
    font-size: small;
    border: 2px solid #B34C26 ;
    padding:.5em;
    margin: 1em;
    
}


.fish__picture {
    max-width: 13rem;
    max-height: 13rem;
}